<center><h1>bogaziciAI Winter Camp</h1></center>
<center><h2>Workshop 1</h2></center>

<center><h3>Grading Table</h3></center>

|             | Part 1 | Part 2      | Part 3 | General Otline      | Total |
| ----------- | ----------- | ----------- | ----------- | ----------- | ----------- |
| **Points**      | 30     | 30          | 30     | 10                  | 100   |

In [2]:
import warnings
warnings.filterwarnings('ignore')

# fundamental modules
import numpy as np
import pandas as pd

# sklearn
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# you can use for visualization
import seaborn as sns
import matplotlib.pyplot as plt

# you can import any additional module you like

In [3]:
df = pd.read_csv('real_estate.csv')
df.head()

,No,transactiondate,houseage,distancetostation,numberofstores,latitude,longitude,housepriceofunitarea
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

# Task

In this task, you are expected to:

* Make a linear regression analysis.
* Use the normal equation for your linear regression analysis to verify your results.
* Make a polynomial regression analysis (You can decide on the Nth degree).

<br>
You can drop the features that you find unnecessary.
<br>
You can use sklearn module to perform your analysis.
<br> 
It is advised to explore and visualize the dataset first.

# Part 1

In [5]:
features_1 = ['transactiondate', 'houseage', 'distancetostation', 'numberofstores', 'latitude']
features_2 = ['houseage', 'distancetostation', 'numberofstores', 'latitude', 'longitude']
X = df[features_1]
y = df["housepriceofunitarea"]

In [6]:
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=2)

In [34]:
poly = PolynomialFeatures(3)
poly_X = poly.fit_transform(train_X)
poly_model = LinearRegression()
poly_model.fit(poly_X, train_y)
val = poly.transform(val_X)
poly_model.score(val, val_y)q

0.5611229827842594

In [10]:
y_hat = poly_model.predict(val)

In [13]:
SSR = np.sum((val_y-y_hat))**2

In [19]:
SSR

4516825921.909951

In [14]:
SST = np.sum((val_y - np.mean(val_y))**2)

In [21]:
SST

24142.81221153846

In [16]:
1 - SSR / SST

-187086.81240286687

# Part 2

In [35]:
X = df.drop("housepriceofunitarea",axis=1)

In [36]:
y = df["housepriceofunitarea"]

In [37]:
polynomial_converter = PolynomialFeatures(degree =2, include_bias =False)
polynomial_converter.fit(X)
poly_features = polynomial_converter.transform(X)
poly_features.shape

(414, 35)

In [63]:
X_train, X_test, y_train, y_test = train_test_split(poly_features, y, test_size = 0.3, random_state = 10)
X_train.shape

(289, 35)

In [64]:
model_poly = LinearRegression()
model_poly.fit(X_train, y_train)
print(model_poly.score(X_train, y_train))
print(model_poly.score(X_test, y_test))

0.7127377825607366
0.6730313475487504

# Part 3